[Unit]
Description=simplebank

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/opt/simplebank
ExecStart=/opt/simplebank/simplebank

[Install]
WantedBy=multi-user.target
