name: ci-test
on:
  push:
    branches: [ main ]
  pull_request: 
    branches: [ main ]
  
jobs:
  test:
    runs-on: ubuntu-latest
    
    services: 
      postgres:
        image: postgres:alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: simple_bank
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    steps:
      
      - uses: actions/setup-go@v4
        with:
          go-version: '^1.20.5'
      
      - name: Check out code
        uses: actions/checkout@v3
      
      - name: Install go migrate
        run: | 
          curl -L https://github.com/golang-migrate/migrate/releases/download/v4.16.2/migrate.linux-amd64.tar.gz | tar xvz
          sudo mv migrate /usr/bin/migrate
          which migrate
      
      - name: Run migrations
        run: make migrate_up

      - name: Test
        run: make test
