name: deploy minikube
on:
  workflow_dispatch:
  push:
    paths: 
      - infra/k8s/**
      - skaffold.yaml
      - .github/workflows/minikube.yml
  
jobs:
  deploy_minikube:
    name: Deploy Minikube
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Start minikube
        uses: medyagh/setup-minikube@master
      
      - name: Setup SSH Known Hosts
        run: |
          mkdir -p -m 0755 ~/.ssh
          touch ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts

      - name: Setup k8s
        run: |
          curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64
          sudo install skaffold /usr/local/bin/
          skaffold run -v warn
          
      - name: Test API
        run: |
          export URL=$(minikube service api --url) 
          curl --location "$URL/users" \
            --data-raw '{
                "username": "test",
                "full_name": "Test User",
                "email": "test@gmail.com",
                "password": "12345678"
            }'