name: deploy minikube
on:
  workflow_dispatch:
  push:
    branches: 
      - main
  pull_request: 
    branches:
      - main
  
jobs:
  deploy_minikube:
    name: Deploy Minikube
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Setup minikube
        uses: hiberbee/github-action-minikube@1.7.0
        with:
          minikube-version: 1.31.1
          kubernetes-version: 1.27.3
      
      - name: Run Skaffold
        uses: hiberbee/github-action-skaffold@1.27.0
        with:
          command: run
          skaffold-version: 2.6.0

      - name: Check API, Create User
        run: |
          curl --location "$(minikube service api --url)/users" \
            --data-raw '{
                "username": "test",
                "full_name": "Test User",
                "email": "test@gmail.com",
                "password": "12345678"
            }'