name: postman e2e
on:
  # Only on dispatch
  # Because postman API has limit :)
  workflow_dispatch:

jobs:
  postman_e2e:
    name: Postman E2E
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      
      - name: Compose up
        uses: isbang/compose-action@v1.5.1
        with:
          compose-file: docker-compose.yml
          down-flags: "--volumes"
          services: |
            db
            api

      - name: E2E
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
          postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}
          export URL=http://localhost:5000 
          postman collection run 28977325-d9e66c38-9472-46a8-b41c-16cf3b02a912 \
            -e 28977325-6493092b-46e6-4de5-a4c2-d7a72add3afe \
            --env-var "url=$URL" \
            -i 28977325-1044f8ee-1372-498b-bc38-8f0dec00291f \
            -i 28977325-9ec3a1bb-1bfc-4f92-a099-b108621bac7e \
            -i 28977325-1ae6d742-c1b5-4d8a-92ab-e7dede36e9dc
          postman collection run 28977325-d9e66c38-9472-46a8-b41c-16cf3b02a912 \
            -e 28977325-6493092b-46e6-4de5-a4c2-d7a72add3afe \
            --env-var "url=$URL"